.vercel
# Dependencies
node_modules/

# Builds
.next/
out/
dist/

# Logs
*.log

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# dotenv environment variable files

.env.local
.env.development.local

